
input {
    border: 2px inset white;
    background-color: white;
    color: black;
}

textarea {
    border: 2px inset white;
    background-color: white;
    color: black;
}

select {
    border: 2px inset white;
    background-color: white;
    color: black;
}

input[type="radio"],
input[type="checkbox"] {
    border: 2px inset white ! important;
    background-color: white ! important;
    color: ThreeDFace ! important;
}

*|*::-moz-radio {
    background-color: white;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    border: 2px outset white;
    background-color: #eeeeee;
    color: black;
}

body {
    background-color: white;
    color: black;
    display: block;
    margin: 8px;
}

/* Pas de widgets système pour les éléments de formulaire */
textarea, select, button {
    -moz-appearance: none;
}
